@font-face {
  font-family: "Kalmeh-Regular";
  src: url(../assets/fonts/kalameh/Kalameh-Regular.woff2);
}

@font-face {
  font-family: "Kalmeh-Bold";
  src: url(../assets/fonts/kalameh/Kalameh-Bold.woff2);
}

@font-face {
  font-family: "YekanBakh-Regular";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Regular.woff2);
}

@font-face {
  font-family: "YekanBakh-Black";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Black.woff2);
}

@font-face {
  font-family: "YekanBakh-SemiBold";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-SemiBold.woff2);
}

@font-face {
  font-family: "YekanBakh-Bold";
  src: url(../assets/fonts/yekan-bakh/YekanBakh-Bold.woff2);
}

:root {
  /* colorPlate light */

  /* رنگ اصلی */
  --primary-color: #2c7ef8;
  --primary-hover-light: #075cd9;
  --on-primary-light: #ffffff;

  /* رنگ زمینه و سطح */
  --background-light: #ffffff;
  --on-background-light: #191c1e;
  --surface-light: #ffffff;

  /* رنگ  های خنثی  */

  /* رنگ  های ارور و اوکی  */
  --error: #e63946;
  --success: #90f677;

  /* colorPlate dark */

  /* رنگ اصلی */
  --primary-color: #3a86f8;
  --primary-hover-dark: #6ba4fa;
  --on-primary-dark: #ffffff;

  /* رنگ زمینه و سطح */
  --background-dark: #040810;
  --on-background-dark: #e6e9ef;
  --surface-dark: #e6e9ef;
}
